This will be the /recipes page.
Here if the User is logged in, you'll be able to
sort by all recipes
<div class="container text-center">
  <%@recipes.each do |r| %>
  Monday:
    <%if r.weekday == "Monday"%>
      <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
    <%end%>
  Tuesday
    <%if r.weekday == "Tuesday"%>
      <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
    <%end%>
  Wednesday
    <%if r.weekday == "Wednesday"%>
      <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
    <%end%>
  Thursday
    <%if r.weekday == "Thursday"%>
      <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
    <%end%>
  Friday
    <%if r.weekday == "Friday"%>
      <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
    <%end%>
  Saturday
    <%if r.weekday == "Saturday"%>
      <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
    <%end%>
  Sunday
    <%if r.weekday == "Saturday"%>
      <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
    <%end%>
  <%end%>

Create New Recipe:
<a class="btn btn-default btn-lg" href='/recipes/create_recipe'>Create Recipe</a>
</div>
