<div class="container text-center">
  <br></br>
  <%@recipes.find do |r|%>
  <table>
    <thead>
      <tr>
        <th>
          <span class="day">Monday</span>
        </th>
        <th>
         <span class="day">Tuesday</span>
        </th>
        <th>
          <span class="day">Wednesday</span>
        </th>
        <th>
          <span class="day">Thursday</span>
        </th>
        <th>
          <span class="day">Friday</span>
        </th>
        <th>
          <span class="day">Saturday</span>
        </th>
        <th>
          <span class="day">Sunday</span>
        </th>
      </tr>
    </thead>
    <!-- <tbody> -->
      <tr>
        <td>
        <%if r.weekday == "Monday"%>
          <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
        <%end%></td>
        <td>
        <%if r.weekday == "Tuesday"%>
          <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
        <%end%>
        </td>
        <td>
        <%if r.weekday == "Wednesday"%>
          <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
        <%end%>
        </td>
        <td>
        <%if r.weekday == "Thursday"%>
          <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
        <%end%>
        </td>
        <td>
        <%if r.weekday == "Friday"%>
          <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
        <%end%>
        </td>
        <td>
        <%if r.weekday == "Saturday"%>
          <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
        <%end%>
        </td>
        <td>
        <%if r.weekday == "Sunday"%>
          <a href='/recipes/<%=r.id%>'> <%=r.name%> </a>
        <%end%>
        </td>
      </tr>
    <!-- </tbody> -->
  </table>
  <%end%>
<br></br>
<p class="styled">Create New Recipe:<br></p>
<a class="btn btn-default btn-lg" href='/recipes/new'>Create Recipe</a>
</div>
