<div class="container text-center">
  <h2> <%=@recipe.name%> </h2> <br>
  <p> <%=@recipe.ingredients%> </h2> <br>
  <p> <%=@recipe.time%> </h2> <br>
  <p> <%=@recipe.weekday%> </h2> <br>
  <a class="btn btn-default btn-lg" href='/recipes/edit_recipe'>Edit Recipe</a>
  <form method="post" action="/recipes/<%=@recipe.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Recipe">
  </form>
</div>
